.vs/ProjectSettings.json
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/TCS_ML_Model.iml
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/TCS_ML_Model/FileContentIndex/677d52e0-6b72-42f4-b735-d3a325fcbbea.vsidx
.vs/TCS_ML_Model/v17/.wsuo
.vs/TCS_ML_Model/v17/DocumentLayout.json
